@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: rgba(14, 13, 13, 0.945);
}

.container {
    width: 100vw;
    min-height: 84vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 13, 13, 0.945);
    background-clip: border-box;
    background-repeat: round;
    background-size: cover;
    padding: 30px 0px;
}

/* That's for when the content is loading */
.contentBox {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    border: 0.001em solid rgba(128, 128, 128, 0.466);
    border-radius: 18px;
    box-shadow: 3px 0.5em 0.5em rgba(129, 126, 126, 0.938);
    background-color: rgb(202, 197, 197);
    padding: 10px;
}

.loadingMessage {
    letter-spacing: 2px;
    text-align: justify;
}

/* That's for when the content is loaded */
.movie {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    border: 0.001em solid rgba(128, 128, 128, 0.466);
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 50px rgba(129, 126, 126, 0.938);
    background-color: rgb(202, 197, 197);
    padding: 6px;
}

.movieTitle {
    font-size: 26px;
    font-weight: 800;
    font-style: italic;
}

.poster {
    width: 100%;
    height: 45%;
    border-radius: 20px;
}

.descriptionTitle {
    font-size: 24px;
    font-weight: 700;
}

.descriptionText {
    text-indent: 20px;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 2px;
}

.releaseDateTitle {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 4px;
}

.releaseDateText {
    font-style: normal;
}

.saveButton {
    margin: 10px 0px;
}