@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Content */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgba(14, 13, 13, 0.945);
}

.container {
    width: 100vw;
    height: 82vh;
    background-color: rgba(14, 13, 13, 0.945);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameContainer {
    grid-area: 2 / 2 / 4 / 10;
}

.emailContainer {
    grid-area: 4 / 2 / 6 / 10;
}

.passwordContainer {
    grid-area: 6 / 2 / 8 / 10;
}

.userNameField:focus, .userEmailField:focus, .userPasswordField:focus {
    outline: 0;
}

/* That's for small mobile devices width like smartphones in vertical */
/* This style will be apply when the screen width is between 320 pixels until 400 pixels */
@media (320px <= width <= 400px) {

    .formContainer {
        width: 85%;
        height: 90%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.25em;
        letter-spacing: 0.075em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.875em;
        color: black;
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1em;
        color: #3E6CEC;
    }

    .userEmailField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.25em;
        letter-spacing: 0.075em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.875em;
        color: black;
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 1.969em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 1.25em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.25em;
        letter-spacing: 0.075em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.875em;
        color: black;
    }

    .showPasswordButton {
        font-size: 1.125em;
        margin-right: 0.5em;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 9 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.75em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
    }

}

/* That's for small mobile devices width like smartphones in horizontal */
/* This style will be apply when the screen width is between 401 pixels until 501 pixels */
@media (401px <= width <= 501px) {

    .formContainer {
        width: 85%;
        height: 90%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.5em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.125em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.5em;
        letter-spacing: 0.088em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        color: black;
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.5em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.125em;
        color: #3E6CEC;
    }

    .userEmailField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.5em;
        letter-spacing: 0.088em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        color: black;
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.5em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.125em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 2.25em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 1.5em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.5em;
        letter-spacing: 0.088em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        color: black;
    }

    .showPasswordButton {
        font-size: 1.25em;
        margin-right: 0.625em;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 10 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.75em;
        border: 0.001em solid transparent;
        border-radius: 2.125em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.125em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
    }

}

/* That's for small mobile devices width like smartphones in horizontal */
/* This style will be apply when the screen width is between 502 pixels until 602 pixels */
@media (502px <= width <= 602px) {

    .formContainer {
        width: 85%;
        height: 90%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.5em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.25em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.625em;
        letter-spacing: 0.1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.125em;
        color: black;
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.5em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.25em;
        color: #3E6CEC;
    }

    .userEmailField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.625em;
        letter-spacing: 0.1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.125em;
        color: black;
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.5em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.25em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 2.531em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 1.625em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.625em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.125em;
        letter-spacing: 0.1em;
        color: black;
    }

    .showPasswordButton {
        font-size: 1.375em;
        margin-right: 0.75em;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 10 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.75em;
        border: 0.001em solid transparent;
        border-radius: 2.25em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.25em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
    }

}

/* That's for small mobile devices width like smartphones in horizontal */
/* This style will be apply when the screen width is between 603 pixels until 703 pixels */
@media (603px <= width <= 703px) {

    .formContainer {
        width: 85%;
        height: 90%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.375em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.75em;
        letter-spacing: 0.113em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.25em;
        color: black;
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.375em;
        color: #3E6CEC;
    }

    .userEmailField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.75em;
        letter-spacing: 0.113em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.25em;
        color: black;
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.375em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 2.813em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 1.75em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.75em;
        letter-spacing: 0.113em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.25em;
        color: black;
    }

    .showPasswordButton {
        font-size: 1.625em;
        margin-right: 0.875em;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.75em;
        border: 0.001em solid transparent;
        border-radius: 2.375em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.375em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
    }

}

/* That's for small mobile devices width like smartphones in horizontal */
/* This style will be apply when the screen width is between 704 pixels until 767 pixels */
@media (704px <= width <= 767px) {

    .formContainer {
        width: 85%;
        height: 95%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.5em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.125em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.375em;
        color: black;
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.5em;
        color: #3E6CEC;
    }

    .userEmailField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.125em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.375em;
        color: black;
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.625em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.5em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.125em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.625em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.125em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.375em;
        color: black;
    }

    .showPasswordButton {
        font-size: 2em;
        margin-right: 0.875em;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.75em;
        border: 0.001em solid transparent;
        border-radius: 2.5em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.5em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
    }

}

/* That's for small mobile devices width like tablets in vertical */
/* This style will be apply when the screen width is between 768 pixels until 868 pixels */
@media (768px <= width <= 868px) {

    .formContainer {
        width: 80%;
        height: 95%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: black;
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userEmailField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: black;
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.375em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: black;
    }

    .showPasswordButton {
        font-size: 2.125em;
        margin-right: 1em;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.5em;
        border: 0.001em solid transparent;
        border-radius: 1.563em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.625em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
    }

}

/* That's for small mobile devices width like tablets in vertical */
/* This style will be apply when the screen width is between 869 pixels until 1023 pixels */
@media (869px <= width <= 1023px) {

    .formContainer {
        width: 75%;
        height: 95%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userEmailField {
        height: 2.25em;
        width: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.375em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 1.875em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .showPasswordButton {
        font-size: 2.25em;
        margin-right: 1em;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.5em;
        border: 0.001em solid transparent;
        border-radius: 1.563em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.625em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
    }

}

/* That's for medium devices width like laptops and notebooks or other monitors */
/* This style will be apply when the screen width is between 1024 pixels until 1124 pixels */
@media (1024px <= width <= 1124px) {

    .formContainer {
        width: 70%;
        height: 95%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userEmailField {
        height: 2.25em;
        width: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.375em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 2em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .showPasswordButton {
        font-size: 2.25em;
        margin-right: 1em;
    }

    .showPasswordButton:hover {
        cursor: pointer;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.625em;
        border: 0.001em solid transparent;
        border-radius: 1.563em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.625em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
        transition-timing-function: linear;
        transition-duration: 0.1s;
    }

    .accountCreatingButton:hover {
        color: white;
        background-color: #3E6CEC;
        cursor: pointer;
        transform: scale(1.05, 1.1);
        transition-timing-function: linear;
        transition-duration: 0.2s;
        transition-delay: 0.1s;
    }

}

/* That's for medium devices width like laptops and notebooks or other monitors */
/* This style will be apply when the screen width is between 1125 pixels until 1225 pixels */
@media (1125px <= width <= 1225px) {

    .formContainer {
        width: 66%;
        height: 95%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userEmailField {
        height: 2.25em;
        width: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.375em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 2em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .showPasswordButton {
        font-size: 2.25em;
        margin-right: 1em;
    }

    .showPasswordButton:hover {
        cursor: pointer;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.75em;
        border: 0.001em solid transparent;
        border-radius: 1.563em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.625em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
        transition-timing-function: linear;
        transition-duration: 0.1s;
    }

    .accountCreatingButton:hover {
        color: white;
        background-color: #3E6CEC;
        cursor: pointer;
        transform: scale(1.05, 1.1);
        transition-timing-function: linear;
        transition-duration: 0.2s;
        transition-delay: 0.1s;
    }

}

/* That's for medium devices width like laptops and notebooks or other monitors */
/* This style will be apply when the screen width is between 1226 pixels until 1326 pixels */
@media (1226px <= width <= 1326px) {

    .formContainer {
        width: 62%;
        height: 95%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userEmailField {
        height: 2.25em;
        width: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.375em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 2em;
    }

    .userPasswordField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .showPasswordButton {
        font-size: 2.25em;
        margin-right: 1em;
    }

    .showPasswordButton:hover {
        cursor: pointer;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.75em;
        border: 0.001em solid transparent;
        border-radius: 1.563em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.625em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
        transition-timing-function: linear;
        transition-duration: 0.1s;
    }

    .accountCreatingButton:hover {
        color: white;
        background-color: #3E6CEC;
        cursor: pointer;
        transform: scale(1.05, 1.1);
        transition-timing-function: linear;
        transition-duration: 0.2s;
        transition-delay: 0.1s;
    }

}

/* That's for medium devices width like laptops and notebooks or other monitors */
/* This style will be apply when the screen width is between 1327 pixels until 1439 pixels */
@media (1327px <= width <= 1439px) {

    .formContainer {
        width: 60%;
        height: 95%;
        border: 0.001em solid rgba(128, 128, 128, 0.466);
        border-radius: 0.938em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        background-color: rgb(202, 197, 197);
        display: grid;
        grid-template: repeat(10, 10%) / repeat(10, 10%);
    }

    .userNameLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userNameField {
        width: 100%;
        height: 2.25em;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userEmailLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .userEmailField {
        height: 2.25em;
        width: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .userPasswordLabel {
        justify-self: center;
        align-self: center;
        margin-left: 0.75em;
        font-style: italic;
        font-weight: 600;
        font-size: 1.625em;
        color: #3E6CEC;
    }

    .passwordAndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 3.375em;
        background-color: white;
        border: 0.001em solid transparent;
        border-radius: 2em;
    }

    .userPasswordField {
        width: 100%;
        height: 100%;
        padding-left: 0.75em;
        border: 0.001em solid transparent;
        border-radius: 2em;
        letter-spacing: 0.138em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
        color: rgba(14, 13, 13, 0.945);
    }

    .showPasswordButton {
        font-size: 2.25em;
        margin-right: 1em;
    }

    .showPasswordButton:hover {
        cursor: pointer;
    }

    .accountCreatingButton {
        grid-area: 8 / 5 / 11 / 7;
        align-self: center;
        justify-self: center;
        width: 7.5em;
        height: 2.813em;
        border: 0.001em solid transparent;
        border-radius: 1.563em;
        box-shadow: 0.75em 0.75em 2.5em rgba(129, 126, 126, 0.938);
        font-size: 1.625em;
        font-weight: 600;
        color: #3E6CEC;
        background-color: white;
        transition-timing-function: linear;
        transition-duration: 0.1s;
    }

    .accountCreatingButton:hover {
        color: white;
        background-color: #3E6CEC;
        cursor: pointer;
        transform: scale(1.05, 1.1);
        transition-timing-function: linear;
        transition-duration: 0.2s;
        transition-delay: 0.1s;
    }

}