* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 84vh;
    background-color: rgba(14, 13, 13, 0.945);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.formContainer {
    border: 0.001em solid rgba(128, 128, 128, 0.466);
    border-radius: 15px;
    box-shadow: 0.8em 0.8em 50px rgba(129, 126, 126, 0.938);
    background-color: rgb(202, 197, 197);
    width: 45%;
    height: 90%;
    display: grid;
    grid-template: repeat(10, 10%) / repeat(10, 10%);
}

.userNameLabel {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    color: blue;
}

.userNameField {
    grid-area: 2 / 3 / 3 / 10;
    border: 0.1em solid rgba(128, 128, 128, 0.466);
    border-radius: 8px;
    letter-spacing: 1px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

.userEmailLabel {
    grid-area: 4 / 2 / 5 / 3;
    justify-self: center;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    color: blue;
}

.userEmailField {
    grid-area: 4 / 3 / 5 / 10;
    border: 0.1em solid rgba(128, 128, 128, 0.466);
    border-radius: 8px;
    letter-spacing: 1px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

.userPasswordLabel {
    grid-area: 6 / 2 / 7 / 3;
    justify-self: center;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    color: blue;
}

.userPasswordField {
    grid-area: 6 / 3 / 7 / 10;
    border: 0.1em solid rgba(128, 128, 128, 0.466);
    border-radius: 8px;
    letter-spacing: 1px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

.accountCreatingButton {
    grid-area: 8 / 5 / 9 / 7;
    border: 0.1em solid transparent;
    border-radius: 25px;
    box-shadow: 0.8em 0.8em 50px rgba(129, 126, 126, 0.938);
    font-weight: 700;
    font-size: 20px;
    color: blue;
    cursor: pointer;
    width: 140px;
    height: 50px;
    align-self: center;
    justify-self: center;
}