@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root Content */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 18vh;
    background-color: rgb(202, 197, 197);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* That's for small mobile devices like smartphones in vertical */
/* This style will be apply when the screen width is between 320 pixels until 400 pixels */
@media (320px <= width <= 400px) {

    /* In this case, the logo won't appear outside of the aside menu */
    .logo, .linkEffect {
        display: none;
    }

    /* In this case, the navigation container that has all the navigation links */
    /* Won't appear because is in the mobile device screen */
    .navigationArea, .favoriteMoviesButton, .loginButton, .signUpButton {
        display: none;
    }

    /* The burguer menu appear because is in mobile device screen */
    /* In this case, it's the burguer menu before to be clicked */
    .burgerMenu {
        width: 30%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    /* These are the layers of the burguer menu icon */
    .layer_BurgerMenu {
        width: 55%;
        height: 0.375em;
        border: 0.001em solid transparent;
        border-radius: 1em;
        background-color: #3E6CEC;
    }

    /* In this case the aside menu is hidden */
    /* It won't appear until the user decides to click in the burguer menu */
    .disableAsideMenu {
        width: 55%;
        height: 100%;
        position: fixed;
        top: 0em;
        left: -55%;
        background-color: #2F2D7D;
        transition-timing-function: linear;
        transition-duration: 0.8s;
        transition-delay: 0.2s;
    }

    /* When the user decides to click in the burguer menu */
    /* It will appear the container of the aside menu */
    .activatedAsideMenu {
        width: 55%;
        height: 100%;
        position: fixed;
        top: 0em;
        left: 0%;
        background-color: #2F2D7D;
        transition-timing-function: linear;
        transition-duration: 0.4s;
        transition-delay: 0.1s;
    }

    /* These styles are relative to the aside menu disable button */
    .disableButtonContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        border-bottom: 0.125em solid rgba(255, 255, 255, 0.7);
    }

    .disableButton_layer {
        background-color: white;
        position: absolute;
        border-radius: 1em;
    }

    .disableButton_firstLayer {
        width: 50%;
        height: 0.625em;
        transform: rotate(45deg);
    }

    .disableButton_secondLayer {
        width: 50%;
        height: 0.625em;
        transform: rotate(135deg);
    }

    .asideMenu_linksList {
        width: 100%;
        height: 80%;
        list-style-type: none;
    }

    .linkContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.75em 0em;
        border-bottom: 0.125em solid rgba(255, 255, 255, 0.7);
    }

    .link {
        font-size: 1.125em;
        font-weight: 900;
        text-decoration: none;
        color: white;
    }

}

/* That's for small mobile devices width like smartphones in horizontal */
/* This style will be apply when the screen width is between 401 pixels until 549 pixels */
@media (401px <= width <= 549px) {

    /* In this case, the logo won't appear outside of the aside menu */
    .logo, .linkEffect {
        display: none;
    }

    /* In this case, the navigation container that has all the navigation links */
    /* Won't appear because is in the mobile device screen */
    .navigationArea, .favoriteMoviesButton, .loginButton, .signUpButton {
        display: none;
    }

    /* The burguer menu appear because is in mobile device screen */
    /* In this case, it's the burguer menu before to be clicked */
    .burgerMenu {
        width: 30%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    /* These are the layers of the burguer menu icon */
    .layer_BurgerMenu {
        width: 55%;
        height: 0.375em;
        border: 0.001em solid transparent;
        border-radius: 1em;
        background-color: #3E6CEC;
    }

    /* In this case the aside menu is hidden */
    /* It won't appear until the user decides to click in the burguer menu */
    .disableAsideMenu {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0em;
        left: -55%;
        background-color: #2F2D7D;
        transition-timing-function: linear;
        transition-duration: 0.8s;
        transition-delay: 0.2s;
    }

    /* When the user decides to click in the burguer menu */
    /* It will appear the container of the aside menu */
    .activatedAsideMenu {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0em;
        left: 0%;
        background-color: #2F2D7D;
        transition-timing-function: linear;
        transition-duration: 0.4s;
        transition-delay: 0.1s;
    }

    /* These styles are relative to the aside menu disable button */
    .disableButtonContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 22%;
        border-bottom: 0.125em solid rgba(255, 255, 255, 0.7);
    }

    .disableButton_layer {
        position: absolute;
        border: 0.001em solid transparent;
        border-radius: 1em;
        background-color: white;
    }

    .disableButton_firstLayer {
        width: 50%;
        height: 0.625em;
        transform: rotate(45deg);
    }

    .disableButton_secondLayer {
        width: 50%;
        height: 0.625em;
        transform: rotate(135deg);
    }

    .asideMenu_linksList {
        width: 100%;
        height: 80%;
        list-style-type: none;
    }

    .linkContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.75em 0em;
        border-bottom: 0.125em solid rgba(255, 255, 255, 0.7);
    }

    .link {
        font-size: 1.25em;
        font-weight: 900;
        text-decoration: none;
        color: white;
    }

}

/* That's for small mobile devices width like smartphones in horizontal */
/* This style will be apply when the screen width is between 550 pixels until 600 pixels */
@media (550px <= width <= 600px) {

    /* In this case, the logo won't appear outside of the aside menu */
    .logo, .linkEffect {
        display: none;
    }

    /* In this case, the navigation container that has all the navigation links */
    /* Won't appear because is in the mobile device screen */
    .navigationArea, .favoriteMoviesButton, .loginButton, .signUpButton {
        display: none;
    }

    /* The burguer menu appear because is in mobile device screen */
    /* In this case, it's the burguer menu before to be clicked */
    .burgerMenu {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    /* These are the layers of the burguer menu icon */
    .layer_BurgerMenu {
        width: 55%;
        height: 0.375em;
        border: 0.001em solid transparent;
        border-radius: 1em;
        background-color: #3E6CEC;
    }

    /* In this case the aside menu is hidden */
    /* It won't appear until the user decides to click in the burguer menu */
    .disableAsideMenu {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0em;
        left: -55%;
        transition-timing-function: linear;
        transition-duration: 0.8s;
        transition-delay: 0.2s;
        background-color: #2F2D7D;
    }

    /* When the user decides to click in the burguer menu */
    /* It will appear the container of the aside menu */
    .activatedAsideMenu {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0em;
        left: 0%;
        transition-timing-function: linear;
        transition-duration: 0.4s;
        transition-delay: 0.1s;
        background-color: #2F2D7D;
    }

    /* These styles are relative to the aside menu disable button */
    .disableButtonContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25%;
        border-bottom: 0.125em solid rgba(255, 255, 255, 0.7);
    }

    .disableButton_layer {
        position: absolute;
        border: 0.001em solid transparent;
        border-radius: 1em;
        background-color: white;
    }

    .disableButton_firstLayer {
        width: 50%;
        height: 0.75em;
        transform: rotate(45deg);
    }

    .disableButton_secondLayer {
        width: 50%;
        height: 0.75em;
        transform: rotate(135deg);
    }

    .asideMenu_linksList {
        width: 100%;
        height: 80%;
        list-style-type: none;
    }

    .linkContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.75em 0em;
        border-bottom: 0.125em solid rgba(255, 255, 255, 0.7);
    }

    .link {
        font-size: 1.375em;
        font-weight: 900;
        text-decoration: none;
        color: white;
    }

}

/* That's for small mobile devices like smartphones in horizontal */
/* This style will be apply when the screen width is between 601 pixels until 767 pixels */
@media (601px <= width <= 767px) {

    /* In this case the burguer menu won't appear because isn't a mobile device screen */
    .burguerMenu, .layer_BurguerMenu {
        display: none;
    }

    /* So it's not necessary the aside menu or other thing like this one */
    .disableAsideMenu {
        display: none;
    }

    /* These styles are relative to the navigation container and your links */
    .linkEffect {
        text-decoration: none;
        margin-left: 1.125em;
    }

    .logo {
        font-size: 1.625em;
        font-weight: 600;
        letter-spacing: 0.063em;
        color: #3E6CEC;
    }

    .navigationArea {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        height: 100%;
    }

    .favoriteMoviesButton, .loginButton, .signUpButton {
        font-size: 1.125em;
        font-weight: 500;
        text-decoration: none;
        color: #0a34a7;
    }

}

/* That's for small mobile devices width like tablets in vertical */
/* This style will be apply when the screen width is between 768 pixels until 1023 pixels */
@media (768px <= width <= 1023px) {

    /* In this case the burguer menu won't appear because isn't a mobile device screen */
    .burguerMenu, .layer_BurguerMenu {
        display: none;
    }

    /* So it's not necessary the aside menu or other thing like this one */
    .disableAsideMenu {
        display: none;
    }

    /* These styles are relative to the navigation container and your links */
    .linkEffect {
        text-decoration: none;
        margin-left: 1.25em;
    }

    .logo {
        font-size: 1.75em;
        font-weight: 700;
        letter-spacing: 0.075em;
        color: #3E6CEC;
    }

    .navigationArea {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        height: 100%;
    }

    .favoriteMoviesButton, .loginButton, .signUpButton {
        font-size: 1.25em;
        font-weight: 600;
        text-decoration: none;
        color: #0a34a7;
    }

}

/* That's for small mobile devices width like tablets in horizontal */
/* That's for medium devices width like laptops and notebooks or other monitors */
/* It will be apply when the width is between 1024 pixels until 1439 pixels */
@media (1024px <= width <= 1439px) {

    /* In this case the burguer menu won't appear because isn't a mobile device screen */
    .burguerMenu, .layer_BurguerMenu {
        display: none;
    }

    /* So it's not necessary the aside menu or other thing like this one */
    .disableAsideMenu {
        display: none;
    }

    .linkEffect {
        text-decoration: none;
        margin-left: 1.375em;
    }

    .logo {
        font-size: 1.875em;
        font-weight: 800;
        letter-spacing: 0.088em;
        color: #3E6CEC;
    }

    .navigationArea {
        width: 55%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .favoriteMoviesButton, .loginButton, .signUpButton {
        font-size: 1.375em;
        font-weight: 600;
        text-decoration: none;
        color: #0a34a7;
    }

}

/* That's for big devices width or large monitors */
/* This style will be apply when the screen width is equal or bigger than 1440 pixels */
@media (1440px <= width) {

    /* In this case the burguer menu won't appear because isn't a mobile device screen */
    .burguerMenu, .layer_BurguerMenu {
        display: none;
    }

    /* So it's not necessary the aside menu or other thing like this one */
    .disableAsideMenu {
        display: none;
    }

    .linkEffect {
        text-decoration: none;
        margin-left: 1.5em;
    }

    .logo {
        font-size: 1.75em;
        font-weight: 900;
        letter-spacing: 0.1em;
        color: #3E6CEC;
    }

    .navigationArea {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .favoriteMoviesButton, .loginButton, .signUpButton {
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: none;
        color: #0a34a7;
    }

}